@use 'tailwindcss';
@use './styles/theme';

html,
body {
	background: var(--c-bg-primary);
	color: var(--c-text-primary);
	font-family: var(--ff-base);
	font-size: var(--fs);
	letter-spacing: var(--letter-spacing);
}

body {
	min-height: 100vh;
	margin: 0;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
	transition: font-variation-settings 0.2s ease-in-out;
}

.variation-fill {
	font-variation-settings:
		'FILL' 1,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24 !important;
}

@plugin "@tailwindcss/typography";
